.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log

__mocks__
.github
.vscode
.travis.yml
jest.config.json
tsconfig.json
tslint.json
coverage

docz
__mocks__

**/*.test.ts
**/*.test.tsx
**/test-resources/*
src